@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(home.png);*/
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .banner{
 width: 100%;
 height: 100vh;
 }
 .navbar{
    width:100%;
   
    height: 80px; 
    margin-left:44%; 
 }
 .one-one{
   /*box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/
  
 }
 .navbar ul {
   
    list-style: none;
    position: absolute;
 }
 .navbar ul li{
    float:left;
 }
 .navbar ul li a{
  width:100px;
  
  color:black;
  font-weight: bolder;
 display:block;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 15px;
 text-align: center;
 padding:10px;
 /*border-radius:10px;*/
 }
 .navbar ul li a:hover{
    background: white;
    border-bottom:2px solid rgb(6, 113, 252) ;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
   
    -webkit-backdrop-filter: blur(10px);
    width:160px;
 }
 .navbar ul li ul{
    color:Black;
    font-weight: bolder;
    backface-visibility: transparent;
    background: rgb(236, 238, 241);
    /*border-radius: 10px;*/
    width:160px;
    
 }
 .navbar ul li ul li{
    float:none;
   
 }
 .navbar ul li ul{
    display: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    
 }
 .navbar ul li:hover ul{
    display: block;
 }
 nav{
    width: 110px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    /*background: rgba(255, 255, 255, .06);*/
    background-color:rgb(6, 113, 252) ;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    transition: .4s;
 }
 nav:hover{
    width: 300px;
 }
 nav .nav-list-top,
 nav .nav-list-bottom {
    position: absolute;
    width: 100%;
 }
 nav .nav-list-top{
    top: 32%;
 
 }
 nav .nav-list-bottom {
    bottom: 0;
 
 }
 nav .nav-brand img {
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
    transition: .4s;
 
 }
 nav:hover .nav-brand img {
    width: 120px;
    margin-top:30px;
 
 }
 nav .nav-brand .info{
    text-align: center;
    pointer-events: none;
    opacity: 0;
 }
 nav:hover .nav-brand .info{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
 }
 nav .nav-brand h2{
    color: Black;
    font-size: 30px;
 
 }
 nav .nav-brand p{
    color: Black;
    font-size: 14px;
 
 }
 nav .nav-item {
    cursor: pointer;
    padding: 0.25px;
    line-height: 50px;
    text-align: left;
    transition: .4s;
 }
 
 nav .nav-item:hover{
    background:whitesmoke;
 }
 nav .nav-item i{
    margin: 0 6px;
    font-size: 26px;
    color: black;
    transform: translateY(5px);
    transition:.4s;
 }
 nav:hover .nav-item i{
    color: #f4c402;
 
 }
 nav .nav-item span{
    color: black;
    font-size:18px;
   text-decoration: none;
    opacity:0;
 }
 nav:hover .nav-item span{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
 }
 .one{
    display: flex;
    
 }
div.box{
width:50%;
height:100vh;
margin:auto;
position:center;
background-color:white;
box-shadow: 0 8px 32px rgba(0, 0, 0, .4);


border-radius:25px;
filter:opacity(85%);
padding:35px 35px 100px 35px;
text-align:justify;
font-size:20px;
line-height:30px;
}